# Sesi 1

### Integer
Integer adalah bilangan bulat pada python

In [1]:
print(1)

1

In [2]:
print(type(10))

<class 'int'>

## Float
Float adalah pecahan pada python

In [3]:
print(4.2)

4.2

In [4]:
print(type(4.2))

<class 'float'>

In [5]:
print(4.0)

4.0

In [6]:
print(0.4)

0.4

In [9]:
print(.4e8)

40000000.0

In [8]:
print(4.e7)

40000000.0

## String
string itu data yang pakai huruf, inget sebelum ngetik harus pake ""

In [10]:
print("oke")

oke

In [11]:
print(type("oke"))

<class 'str'>

In [12]:
print("aku'hmm'")

aku'hmm'

## Boolean
Ini tipe data yang isinya True ama False. nulis True ama False harus pake uppercase jadi gak bole TRUE atau true, nanti gak mau baca

In [13]:
print(type(True))

<class 'bool'>

## Variable Assignment
intinya ngetik aja gitu suatu hal itu datanya apa

In [14]:
kotakbrownies = 5

In [15]:
print(kotakbrownies)

5

In [16]:
kotakbrownies

5

In [17]:
kotakbrownies = 10

In [18]:
print(kotakbrownies)

10

In [19]:
a = b = c = 10

In [20]:
print (a,b,c)

10 10 10

In [21]:
var = 14.5

In [22]:
print(var)

14.5

In [23]:
var = "aku adalah kucing"

In [24]:
print (var)

aku adalah kucing

## Variable Name
ngasih nama di variable itu gak boleh sembarangan, gak boleh pake angka, gak boleh ngasal misal variblenya sayur tapi datanya angka itu gak boleh, terus harus konsisten soalnya data AGE sama age itu dihitung beda varible, jadi upercase dan cara nulisnya pengaruh juga. biasain sama biar gak bingung

In [26]:
nama = "sapi"
age = 5 
has_tail = True

In [27]:
print(nama,age,has_tail)

sapi 5 True

## Operators and Expressions
operators itu tanda aritmatikanya *,-,/,%,** ini pangkat , kalau expresion itu serangkaian dari variable dan operators yang dipake misal a+c+d

In [28]:
a = 10 
b = 6

In [29]:
a+b

16

In [30]:
a + b - 2

14

In [31]:
print(a/b)

1.6666666666666667

In [32]:
print(a/b-7)

-5.333333333333333

In [33]:
print (a**b/2-1)

499999.0

In [37]:
print (a==b)

False

In [38]:
print(a<=b , a>=b , a != b)

False True True

## String Manipulation
Ini buat nyamain format kata kata di datanya biar waktu dianalisis gak dihitung dua karena ada yang upercase atau yang lower case. misal Tidak sama tidak nah ini bisa jadi 2 data string yang berbeda

In [56]:
x = "halo"
y = "yuhu"
h = "lakariSUAB8"

In [53]:
print(x+y,y*2, y in "yuhu", x in "ahuy")

haloyuhu yuhuyuhu True False

In [57]:
print(h.capitalize()) 
print (h.lower()) 
print(h.swapcase()) 
print(h.title()) 
print(h.upper())

Lakarisuab8
lakarisuab8
LAKARIsuab8
Lakarisuab8
LAKARISUAB8

## Python List
list harus berurutan ya, jadi urutannya maters. misal a,c, d itu beda sama a,d,c
. dalam satu list bisa beda jenis data
. terus bisa diakses sesuai indexnya (index ngitungnya dari 0 jan lupa jadi 0,1,2 dst) . terus semisal pengen manggil yang terakhir bisa pake - 1, berati element terakhir, kalio -2 berati elemen ke 2 terakhir. list ini bisa diubah ubah, terus makenya tanda [] yah

In [80]:
contoh_list = [1, 2, 3]
t = [ 8 , "aku" , .9 , "apa" , "siapa" , 1]
h = ["fuu", "hjika" , "daku", "jika"]

In [85]:

print(contoh_list , t)
print(contoh_list == t)
print(t[1])
print(t[-2])
print(t[2:5])
print(t + ["bayi" , "anjing"])
print(t * 2)
print(len(h))
print(min(h))
print(max(h))

[1, 2, 3] [8, 'aku', 0.9, 'apa', 'siapa', 1]
False
aku
siapa
[0.9, 'apa', 'siapa']
[8, 'aku', 0.9, 'apa', 'siapa', 1, 'bayi', 'anjing']
[8, 'aku', 0.9, 'apa', 'siapa', 1, 8, 'aku', 0.9, 'apa', 'siapa', 1]
4
daku
jika

In [88]:
print(t)

[8, 'aku', 'adalah', 1, 'siapa', 1]

In [89]:
t[2] = "adalah"
t[3] = 1
print(t)

[8, 'aku', 'adalah', 1, 'siapa', 1]

In [90]:
print(h)
h[0:2]=["merah","biru","ungu"]
print(h)

['fuu', 'hjika', 'daku', 'jika']
['merah', 'biru', 'ungu', 'daku', 'jika']

## Pyhton Tuples
nah ini list tapi gak bisa diubah, gak bisa diedit, gak bisa ditambahin pakenya tanda (), nah doi ini biasanya data urutan yang fix, misal urutan bulan kan dah fix tuh gak mungkin bakalan berubah urutan dan jumlahnya

## Phyton Dictionaries
ini gak butuh urutan, tapi data dari 2 data yang berpasangan , jadi key-value-pairs, pakenya tanda { }

In [98]:
identitas = {
    "nama" : "soju",
    "umur" : ["7 bulan", "19 hari"],
    "pekerjaan" : "ngupil"
}
print(identitas)
print(identitas["nama"])
print(identitas["pekerjaan"])
print(identitas["umur"])
print(identitas.keys())
print(identitas.values())

{'nama': 'soju', 'umur': ['7 bulan', '19 hari'], 'pekerjaan': 'ngupil'}
soju
ngupil
['7 bulan', '19 hari']
dict_keys(['nama', 'umur', 'pekerjaan'])
dict_values(['soju', ['7 bulan', '19 hari'], 'ngupil'])