SESI 2

In [7]:
x = 5 
y = 0 
if x<y: 
  print("yes")
  if x>y:
    print("yes2")

In [8]:
if "abc" in "abcde" :
  print('yes')

yes

In [11]:
if "ab3" in "abcde" :
  print("aku")
  print("halo")
  print('yuhu')
print ('diluar')

diluar

In [13]:
t = 20 
if t<30 :
  print('betul')
else :
  print('salah')

betul

In [15]:
hargaBuku = 20000
hargaMajalah = 10000
uang = 12000
if uang > hargaBuku:
  print("beli Buku")
elif uang > hargaMajalah:
  print("beli Majalah")
else:
  print("uang tidak cukup")

beli Majalah

In [16]:
n = 5
while n > 0 :
  n-= 1
  print(n)

4
3
2
1
0

In [20]:
n = 5
while n > 0 :
  n -= 1
  if n == 2:
      break
  print(n)

print('loopselesai')

4
3
loopselesai

In [21]:
n = 5
while n > 0 :
  n -= 1
  if n == 2:
      continue
  print(n)

print('loopselesai')

4
3
1
0
loopselesai

In [22]:
a = ['foo' , 'bar']

while len (a) :
  print(a.pop(0))

  b = ['baz', 'qux']

  while len(b):
    print('--', b.pop(0))

foo
-- baz
-- qux
bar
-- baz
-- qux

In [27]:
temp = input ('ketik temperature yang ingin dikonversi')

ketik temperature yang ingin dikonversi75

In [28]:
print(temp)

75